@model List<Order>

@{ 
    ViewData["Title"] = "All orders";
}

<p>
    <h4 class="text-light">List of all your orders</h4>
</p>

<table id="myTable" class="table text-light" style="max-width:90%;overflow-x:auto;font-weight:bold">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Items</th>
            <th>Total</th>
            <th>Status</th>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <th>User</th>
                <th>Address</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
        <tr>
            <td class="align-middle">@order.Id</td>
            <td class="align-middle">
                <ul style="list-style-type:none">
                    @foreach (var item in order.OrderItems)
                    {
                        <li>
                            <span class="badge bg-primary">@item.Amount</span> [@item.Price.ToString("c")] - @item.Product.Name                           
                        </li>
                    }
                </ul>
            </td>
            <td class="align-middle">
                @order.OrderItems.Select(m => m.Product.Price * m.Amount).Sum().ToString("c")
            </td>                   
            <td class="align-middle" id="mytd">@order.OrderPaid</td>                
                
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td class="align-middle"> @order.User.FullName </td>
                <td class="align-middle"> @order.User.Address </td>

            }
            </tr>
        }
    </tbody>
</table>


<script>
    // Get the table element
    var table = document.getElementById("myTable");

    // Loop through each row
    for (var i = 0, row; row = table.rows[i]; i++) {
        // Access the specific column (e.g., fourth column)
        var cell = row.cells[3];

        // Check the condition 
        if (cell.innerText === "Status") {
            cell.style.backgroundColor = "black";
        }
        else if (cell.innerText === "paid") {
            cell.style.backgroundColor = "darkgreen";
            cell.style.color = "black";
            
        }
        else {
            cell.style.backgroundColor = "darkred";
            cell.style.Color = "white";
            
        }
    }
</script>
