@using Online_shop_Template.Data.ViewModels;
@using System.Web

@model ShoppingCartVM


@{
    ViewData["Title"] = "Shopping cart summary";
}


<div class="text-center text-light">
    <h2>Your Basket summary</h2>
</div>

<table class="text-light" style="width: 100%; overflow-x: auto; color:white">
        
        <tr>
            <th>Selected amount</th>
            <th>Product</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
        
        
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td>@item.Amount</td>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price.ToString("c")</td>
                <td>@((item.Amount * item.Product.Price).ToString("c"))</td>
                <td style="text-align: center;">
                    <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart"
                        asp-route-id="@item.Product.Id">
                        <i class="bi bi-cart-dash"></i>
                    </a>
                    |   |
                    <a class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart"
                        asp-route-id="@item.Product.Id">
                        <i class="bi bi-cart-plus"></i>
                    </a>
                </td>
            </tr>
        }
        
    <tfoot>
        <tr>
            <td colspan="2"></td>
            <td><b class="text-light">Total:</b></td>
            <td class="text-light" >
                @Model.ShoppingCartTotal.ToString("c")
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <div class="btn-group">
        <a class="btn btn-outline-primary" asp-action="CompleteOrder">
        Complete order
        </a>
        <span style="padding:5px"></span>
        <a class="btn btn-success text-white" asp-controller="Product" asp-action="Index" style="border-radius:3px; margin:10px; padding:10px;">
            <i class="bi bi-cart-plus"></i> Add more items
        </a>

        <span style="padding:5px"></span>

        <form method="post" action="/Orders/CreateCheckoutSession">
            <!-- Form fields -->
            <div>
                <input type="hidden" id="amount" name="amount" value="@Model.ShoppingCartTotal" />
            </div>
            <!-- Submit button -->
            <button type="submit" id="amount" name="amount" class="btn btn-primary" style="padding:10px;margin:10px;">
                Checkout
                <i class="bi bi-apple"></i>
                <i class="bi bi-google"></i>
                <i class="bi bi-bi bi-credit-card-fill"></i>
                <i class="bi bi-paypal"></i>
            </button>
        </form>
        
    </div>
</div>


